<%= form_with(model: question, local: true) do |f|%>
  <%= render 'shared/error_messages', model: f.object %>

  <div class="field">
    <%= f.label :subject, "教科" %><br />
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :title, "タイトル（16文字以内）" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text, "テキスト（10行200文字以内）" %><br />
    <%= f.text_area :text, class: :form__text, id: :limited, rows: 10 %>
  </div>
<script>
 
  // 入力できる行数の最大値
  let MAX_LINE_NUM = 10;
 
  // テキストエリアの取得
  let textarea = document.getElementById("limited");
 
  // 入力ごとに呼び出されるイベントを設定
  textarea.addEventListener("input", function() {
 
    // 各行を配列の要素に分ける
    let lines = textarea.value.split("\n");
 
    // 入力行数が制限を超えた場合
    if (lines.length > MAX_LINE_NUM) {
 
      var result = "";
 
      for (var i = 0; i < MAX_LINE_NUM; i++) {
        result += lines[i] + "\n";
      }
 
      textarea.value = result;
    }
  }, false);
</script>
  <br>
  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>