<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <% if @question.solution.present? %>
          <%= "#{@question.title}（解決済み）"%>
        <% else %>
          <%= "#{@question.title}（回答募集中）"%>
        <% end %>
      </p>
      <br>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__message">
            <%= simple_format(@question.text) %>
          </p>
      </div>
      <br>
      <%= link_to "by #{@question.user.nickname}", user_path(@question.user.id), class: :prototype__user, method: :get %>

      <% if user_signed_in? && current_user.id == @question.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_question_path(@question.id), class: :prototype__btn, method: :get %>
          <%= link_to "削除する", question_path(@question.id), class: :prototype__btn, method: :delete %>
        <% if current_user.already_solved?(@question) %>
          <%= link_to "回答募集中にする", question_solutions_path(@question), class: :prototype__btn, method: :delete %>
        <% else %>
          <%= link_to "解決済みにする", question_solutions_path(@question), class: :prototype__btn, method: :post %>  
        <% end %>
        </div>
      <% end %>
      <div class="prototype__comments">
          <% if user_signed_in? %>
            <%= form_with(model: [@question, @answer], local: true) do |f| %>
              <div class="field">
                <%= f.label :text, "回答" %><br />
                <%= f.text_area :text %>
              </div>
              <div class="actions">
                <%= f.submit "送信する", class: :form__btn %>
              </div>
            <% end %> 
          <% end %>
        <ul class="comments_lists">
          <% if @answers %>
           <% @answers.each do |answer| %>
            <li class="comments_list">
              <%= simple_format(answer.text) %>
              <%= link_to "(#{answer.user.nickname})", user_path(answer.user.id), class: :comment_user, method: :get %>
            </li>
           <% end %>
         <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
