<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "ようこそ、#{current_user.nickname}さん", user_path(current_user.id), class: :greeting__link, method: :get%>
      </div>
    <% end %>
    <%= search_form_for @q, url: search_posts_path, class: "search-form" do |form| %>
      <%= form.search_field :subject_or_title_or_text_cont, placeholder: "タイトル、内容、教科名で検索", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <br>
    <div class="card__wrapper">
      <%= render partial: 'post', collection: @posts %>
    </div>
  </div>
  <%= link_to(new_post_path, class: 'output-btn') do %>
    <span class='output-btn-text'>アウトプット</span>
    <%= image_tag 'pen_icon.png' , size: '185x60' ,class: "output-btn-icon" %>
  <% end %>
</main>
